@media(max-width: 875px) {
    .wrapper .viewing {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .viewing-about {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .viewing-about .viewing-text {
        text-align: center;
    }
    .viewing-about .viewing-text p {
        text-align: center;
    }
    .viewing-about .viewing-input {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top: 0;
    }
    .viewing-input-block-1 {
        padding-top: 30px;
        order: 5;
    }
    .questions-block-input {
        display: flex;
        flex-direction: column;
    }
    .questions-block-about .questions-block-input p {
        margin: 10px 10px;
    }
    .questions-block-about .questions-block-input input {
        margin: 10px 10px;
    }
    .questions-block-about .questions-block-input button {
        margin: 10px 10px;
    }
    .wrapper .questions-block {
        padding: 20px;
    }
}
@media(max-width: 750px) {
    .navigation {
        display: flex;
        flex-direction: column;
    }
    .nav-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 0;
    }
    .menu .nav-menu a {
        padding: 0;
        margin: 0;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .menu .nav-menu li {
        font-size: 18px;
    }
    .icon-img {
        display: flex;
        flex-direction: column;
        align-items: center;
    }  
    .video-house-block .video-youtube {
        height: 450px;
    }
    .wrapper .video-house {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .footer-about-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .wrapper .footer-blcok {
        padding: 20px;
    }
}
@media(max-width: 640px) {
    .wrapper .infrastructure {
        padding-bottom: 50px;
        padding-top: 50px;
    }
    .wrapper .infrastructure::after {
        font-size: 300px;
        right: 30px;
        top: -82px;
    }
    .infrastructure-block {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .apartments-about-block img {
        width: 400px;
        height: 230px;
        width: 100%;
        padding: 5px 5px;
    }
    .wrapper .apartments {
        padding-bottom: 10px;
        padding-top: 10px;
    }
    .apartments .apartments-block {
        font-size: 300px;
        top: 30px;
    }
}
@media(max-width: 480px) {
    .house .nav-text h1 {
        font-size: 38px;
    }
    .house .nav-text {
        margin-top: 100px;
    }
    .house .nav-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
    }
    .apartments .apartments-block {
        font-size: 250px;
    }
}