*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    font-family: 'Playfair Display', serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
}
:root {
    --with: #FFFFFF;
    --gold: #D4C17F;
    --grey: #E7E7E7;
    --grey-black: #BEBEBE;
    --black: #242B33;
    --black-light: #2D343C;
}
.wrapper {
    max-width: 1920px;
    margin: 0 auto;
}
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}
.house {
    background: url(../img/block-1/Rectangle.jpg)center/cover no-repeat;
    min-height: 840px;
}
.navigation {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}
.icon-img p {
    font-size: 12px;
    color: var(--with);
    font-family: 'Raleway';
    font-weight: 400;
    text-align: center;
}
.nav-menu {
    display: flex;
    justify-content: space-between;
}
.nav-menu a {
    text-decoration: none;
    padding-left: 40px;
}
.nav-menu a :hover {
    color: var(--gold);
}
.nav-menu a :active {
    color: var(--grey-black);
}
.nav-menu li {
    list-style-type: none;
    font-family: 'Raleway';
    color: var(--with);
    font-size: 14px;
    font-weight: 400;
}
.nav-text {
    margin-top: 220px;
}
.nav-text h1 {
    max-width: 555px;
    font-size: 48px;
    font-family: 'Playfair Display';
    color: var(--gold);
    font-weight: 700;
    margin: 0 auto;
    text-align: center;
}
.nav-footer {
    display: flex;
    justify-content: space-around;
    padding-top: 340px;
}
.nav-footer p {
    font-family: 'Raleway';
    font-size: 18px;
    color: var(--with);
    font-weight: 400;
}
.nav-footer a {
    text-decoration: none;
    color: var(--with);
}
.nav-footer img {
    margin-right: 15px;
}
.nav-footer svg {
    margin-right: 15px;
}
.icon {
    display: none;
}
/****************** infrastructure ******************/
.infrastructure {
    background: var(--black);
    padding-bottom: 120px;
    padding-top: 120px;
    position: relative;
}
.infrastructure::after {
    content: "II";
    position: absolute;
    font-size: 400px;
    font-family: 'Playfair Display';
    color: var(--gold);
    opacity: 0.1; 
    right: 100px;
    top: -50px;
    bottom: 100px;
}
.infrastructure-block {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.infrastructure-block-about {
    text-align: center;
}
.infrastructure-block-about p {
    color: var(--with);
    font-size: 20px;
    line-height: 27px;
    font-family: 'Roboto';
    font-weight: 300;
    max-width: 200px;
}
/****************** apartments ******************/
.apartments {
    background: var(--black);
    padding-bottom: 50px;
    padding-top: 50px;
    position: relative;
}
.apartments-block {
    font-size: 400px;
    font-family: 'Playfair Display';
    color: var(--gold);
    opacity: 0.1; 
    position: absolute;
    left: 10px;
    top: 10px;
    bottom: 100px;
    z-index: 1;
}
.apartments-about h2 {
    font-size: 36px;
    color: var(--gold);
    font-weight: 700;
    font-family: 'Playfair Display';
    padding: 0;
    margin: 0;
    padding-bottom: 100px;
}
.apartments-about-img {
    max-width: 1100px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
    z-index: 5;
}
.apartments-about-block p {
    font-family: 'Raleway';
    font-size: 24px;
    font-weight: 400;
    color: var(--with);
    margin-top: -80px;
    margin-left: 50px;
}
.apartments-about-block img {
    padding-bottom: 50px;
}
/****************** viewing ******************/
.viewing {
    background: url(../img/block-4/Rectangle.jpg)center/cover no-repeat;
    padding-top: 100px;
    padding-bottom: 100px;
}
.viewing-about {
    display: flex;
    justify-content: space-around;
    padding: 10px 10px;
}
.viewing-text {
    max-width: 535px;
}
.viewing-text h2 {
    font-size: 36px;
    color: var(--gold);
    font-weight: 700;
    font-family: 'Playfair Display';
}
.viewing-text p {
    font-size: 16px;
    color: var(--with);
    font-weight: 400;
    font-family: 'Raleway';
    text-align: left;
}
.viewing-input {
    display: flex;
    justify-content: space-around;
    padding-top: 80px;
}
.viewing-input-block-1 {
    margin: 0 10px;
}
.viewing-input-block-2 {
    margin: 0 10px;
}
.viewing-input-block-1 input {
    background: rgba(255, 255, 255, 0.178);
    color: var(--gold);
    text-align: center;
    padding: 12px 50px;
    outline: none;
}
.viewing-input-block-1 p {
    font-size: 13px;
    font-weight: 400;
    color: var(--with);
    font-family: 'Raleway';
    margin-top: 35px;
    text-align: center;
}
.viewing-input-block-2 input {
    background: rgba(255, 255, 255, 0.178);
    color: var(--gold);
    text-align: center;
    padding: 12px 50px;
    outline: none;
}
.viewing-input-block-2 button {
    background: var(--gold);
    text-decoration: none;
    outline: none;
    color: var(--with);
    margin-top: 35px;
    display: inline-block;
    font-size: 16px;
    font-family: 'Raleway';
    font-weight: 700;
    text-align: center;
    max-width: 285px;
    height: 50px;
    width: 100%;
}
.viewing-input-block-2 button:hover {
    transition: 0.7s;
    color: var(--grey-black);
    background: var(--black-light);
}
.viewing-input-block-2 button:active {
    background: var(--with);
}
/****************** video-house ******************/
.video-house {
    background: var(--black);
    padding-top: 50px;
    padding-bottom: 150px;
    position: relative;
}
.video-house-text {
    font-size: 400px;
    font-family: 'Playfair Display';
    color: var(--gold);
    opacity: 0.1; 
    position: absolute;
    right: 10px;
    top: 10px;
    bottom: 100px;
    z-index: 1;
}
.video-house-block {
    text-align: center;
    position: relative;
    z-index: 5;
}
.video-youtube {
    max-width: 720px;
    height: 650px;
    width: 100%;
}
/****************** map-house ******************/
.map-house {
    background: var(--black);
    padding-bottom: 100px;
    position: relative;
}
.map-house-text {
    font-size: 400px;
    font-family: 'Playfair Display';
    color: var(--gold);
    opacity: 0.1; 
    position: absolute;
    left: 10px;
    top: 10px;
    bottom: 100px;
    z-index: 1;
}
.map-house-about {
    position: relative;
    z-index: 5;
    width: 100%;
}
.map-house-block h2 {
    margin-top: 0;
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 36px;
    padding-bottom: 100px;
    color: var(--gold);
}
/****************** questions ******************/
.questions-block {
    background: var(--black);
    padding: 100px;
}
.questions-block-about h2 {
    margin: 0;
    padding: 0;
    padding-bottom: 50px;
    font-family: 'Playfair Display';
    color: var(--gold);
    font-size: 36px;
    font-weight: 700;
}
.questions-block-input {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.questions-block-input p {
    width: 260px;
    color: var(--with);
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    margin: 0 10px;
}
.questions-block-input input {
    background: rgba(255, 255, 255, 0.178);
    color: var(--gold);
    text-align: center;
    width: 255px;
    height: 50px;
    outline: none;
    margin: 0 10px;
}
.questions-block-input button {
    width: 255px;
    height: 50px;
    background: var(--gold);
    color: var(--with);
    margin: 0 10px;
}
.questions-block-input button:hover {
    transition: 0.7s;
    color: var(--grey-black);
    background: var(--black-light);
}
.questions-block-input button:active {
    background: var(--with);
}




::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.7);
}