*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    font-family: 'Playfair Display', serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
}
:root {
    --with: #FFFFFF;
    --gold: #D4C17F;
    --grey: #E7E7E7;
    --grey-black: #BEBEBE;
    --black: #242B33;
    --black-light: #2D343C;
}
.wrapper {
    max-width: 1920px;
    margin: 0 auto;
}
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}
.house {
    background: url(../img/block-1/Rectangle.jpg)center/cover no-repeat;
    min-height: 840px;
}
.navigation {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}
.icon-img p {
    font-size: 12px;
    color: var(--with);
    font-family: 'Raleway';
    font-weight: 400;
    text-align: center;
}
.nav-menu {
    display: flex;
    justify-content: space-between;
}
.nav-menu a {
    text-decoration: none;
    padding-left: 40px;
}
.nav-menu a :hover {
    color: var(--gold);
}
.nav-menu a :active {
    color: var(--grey-black);
}
.nav-menu li {
    list-style-type: none;
    font-family: 'Raleway';
    color: var(--with);
    font-size: 14px;
    font-weight: 400;
}
.nav-text {
    margin-top: 220px;
}
.nav-text h1 {
    max-width: 555px;
    font-size: 48px;
    font-family: 'Playfair Display';
    color: var(--gold);
    font-weight: 700;
    margin: 0 auto;
    text-align: center;
}
.nav-footer {
    display: flex;
    justify-content: space-around;
    padding-top: 340px;
}
.nav-footer p {
    font-family: 'Raleway';
    font-size: 18px;
    color: var(--with);
    font-weight: 400;
}
.nav-footer a {
    text-decoration: none;
    color: var(--with);
}
.nav-footer img {
    margin-right: 15px;
}
.nav-footer svg {
    margin-right: 15px;
}
.icon {
    display: none;
}
/****************** infrastructure ******************/
.infrastructure {
    background: var(--black);
    padding-bottom: 120px;
    padding-top: 120px;
    position: relative;
}
.infrastructure::after {
    content: "II";
    position: absolute;
    font-size: 400px;
    font-family: 'Playfair Display';
    color: var(--gold);
    opacity: 0.1; 
    right: 100px;
    top: -50px;
    bottom: 100px;
}
.infrastructure-block {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.infrastructure-block-about {
    text-align: center;
}
.infrastructure-block-about p {
    color: var(--with);
    font-size: 20px;
    line-height: 27px;
    font-family: 'Roboto';
    font-weight: 300;
    max-width: 200px;
}
/****************** apartments ******************/
.apartments {
    background: var(--black);
    padding-bottom: 50px;
    padding-top: 50px;
    position: relative;
}
.apartments-block {
    font-size: 400px;
    font-family: 'Playfair Display';
    color: var(--gold);
    opacity: 0.1; 
    position: absolute;
    left: 10px;
    top: 10px;
    bottom: 100px;
    z-index: 1;
}
.apartments-about h2 {
    font-size: 36px;
    color: var(--gold);
    font-weight: 700;
    font-family: 'Playfair Display';
    padding: 0;
    margin: 0;
    padding-bottom: 100px;
}
.apartments-about-img {
    max-width: 1100px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
    z-index: 5;
}
.apartments-about-block p {
    font-family: 'Raleway';
    font-size: 24px;
    font-weight: 400;
    color: var(--with);
    margin-top: -80px;
    margin-left: 50px;
}
.apartments-about-block img {
    padding-bottom: 50px;
}







